<div>
    <h2>{{countryInfo?.name}}</h2>
    <div *ngIf="countryInfo==undefined">
        <p class="instructions">Click a country!</p>
    </div>
    <ul *ngIf="countryInfo">
        <li><b>Abbreviation</b>: {{countryInfo.id}}</li>
        <li><b>Capital</b>: {{countryInfo.capitalCity}}</li>
        <li><b>Region</b>: {{countryInfo.region}}</li>
        <li><b>Income Level</b>: {{countryInfo.incomeLevel}}</li>
        <li><b>Longitude</b>: {{countryInfo.longitude}}</li>
        <li><b>Latitude</b>: {{countryInfo.latitude}}</li>
    </ul>
</div>